/* #card-multiple, #card-single{
    display: none;
} */

.card {
    width: 15rem;
}

.card-columns {
    column-count: 5;
}

.btn-transparent{
    background: transparent;
}

.btn-transparent:hover{
    background: lightgray;
}